.top {
    background-color: rgb(30, 255, 0);
    border-color: rgb(255, 0, 0);
    border-width: 2px;
    height: 220px;
    width: 350px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    border-style: dotted;
}